# ignore option
# data file and directory
data/
*.png
*.jpg
*.npy

# tmeporary or test file and directory
temp.*
test.*
test/*

# build file and directory
dist/*
build/*

# vscode option file and directory
.vscode/*

# etc
*.spec
*.pyc
